<template name="Home">
  <div class="container">

    <div class="divider"></div>
    <div class="section">
      <h5>Internet connectivity</h5>

      <p>{{networkInfo}}</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>nslookup</h5>

      <p>{{dns}}</p>
      <i class="fa fa-genderless glow"></i>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>ping</h5>

      <p>{{ping}} ms</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h5>HTTP</h5>

      <p>{{getRequest}}</p>
    </div>

  </div>
</template>
