<template name="Home">
  <div class="container">
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s10">
          <h5>Internet Connectivity</h5>
          <p>{{networkInfo}}
            <strong class="green-text">Very Fast</strong>
          </p>

        </div>
        <div class="col s2">
          <div class="led-box">
            <div class="led-green"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s10">
          <h5>NS Lookup</h5>
          <p>{{dns}}
            <strong class="yellow-text text-darken-3">Fast</strong>
          </p>
        </div>
        <div class="col s2">
          <div class="led-box">
            <div class="led-yellow"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s10">
          <h5>Ping</h5>
          <p>{{ping}}
            <strong class="red-text text-darken-4">Slow</strong>

          </p>
        </div>
        <div class="col s2">
          <div class="led-box">
            <div class="led-red"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="row">
        <div class="col s10">
          <h5>HTTP</h5>

          <p>{{getRequest}}
          </p>
        </div>
        <div class="col s2">
          <div class="led-box">
            <div class="led-blue"></div>
          </div>

        </div>
      </div>
    </div>

  </div>
</template>
